.Container {
  display: flex;
  /* background-size: 100%; */
  background-size: cover;
}

.photo {
  width: 1433px;
  height: 791px;
}

.welcome {
  position: absolute;
  left: 68%;
  top: 5%;
  color: white;
  font-size: 45px;
}

.button {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 77%;
  top: 70%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  height: 220px;
  width: 220px;
}
