.Container {
  position: absolute;
  background-image: url("../../../images/Paws-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title {
  position: relative;
  color: black;
  font-size: 30px;
  right: 6%;
  top: 15%;
}

.photo {
  position: relative;
  width: 740px;
  height: 470px;
  border-radius: 10px;
  top: 14%;
  right: 11%;
}

.button {
  position: relative;
  height: 100px;
  width: 150px;
  right: 42%;
  bottom: 0%;
  background-color: red;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

.button:hover {
  background: black;
  color: red;
}
