.Container {
  position: relative;
  right: 35%;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

.title {
  color: black;
  font-size: 45px;
}

.photo {
  width: 910px;
  height: 580px;
  border-radius: 10px;
}

.button {
  position: absolute;
  height: 100px;
  width: 150px;
  left: 45%;
  top: 80%;
  background-color: red;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}

.button:hover {
  background: black;
  color: red;
}
